In [8]:
import numpy as np
import bottleneck as bn
import pandas as pd

In [3]:
dummy_data=np.random.rand(3850,53,107)
dummy_data

array([[[0.54367976, 0.46683185, 0.23199802, ..., 0.91559358,
         0.86603686, 0.71750412],
        [0.60656113, 0.59322657, 0.56078021, ..., 0.45880096,
         0.02506378, 0.29903661],
        [0.30474479, 0.5861907 , 0.90384668, ..., 0.55047472,
         0.5740322 , 0.48312812],
        ...,
        [0.96191334, 0.60941921, 0.21413628, ..., 0.56841759,
         0.66245346, 0.28146993],
        [0.25801337, 0.69231319, 0.67623165, ..., 0.43470968,
         0.8002859 , 0.20629523],
        [0.89361464, 0.97427806, 0.3282876 , ..., 0.76033339,
         0.90189592, 0.89575009]],

       [[0.35936823, 0.20196407, 0.03235359, ..., 0.99450854,
         0.03128811, 0.74703969],
        [0.83120305, 0.11311629, 0.71100914, ..., 0.62885877,
         0.56909606, 0.02805913],
        [0.66219143, 0.08833968, 0.63271444, ..., 0.62669545,
         0.16831903, 0.85316779],
        ...,
        [0.40895719, 0.11081208, 0.60460237, ..., 0.49104465,
         0.29976094, 0.32238024],
        [0.74497464, 0.25769717, 0.25404688, ..., 0.62426756,
         0.55904832, 0.30935934],
        [0.2675178 , 0.49447383, 0.79388707, ..., 0.70020052,
         0.76752567, 0.21749615]],

       [[0.89464586, 0.8682504 , 0.74996394, ..., 0.94343742,
         0.9797982 , 0.48460255],
        [0.73278544, 0.5456683 , 0.83590542, ..., 0.64803611,
         0.84133136, 0.85623601],
        [0.79260918, 0.44011751, 0.66073219, ..., 0.67710715,
         0.49443587, 0.56993842],
        ...,
        [0.72596634, 0.928156  , 0.20854156, ..., 0.39600159,
         0.36214722, 0.5413728 ],
        [0.5111625 , 0.72198791, 0.69250668, ..., 0.25086155,
         0.88885674, 0.00841954],
        [0.57032082, 0.45297523, 0.94527668, ..., 0.62844328,
         0.88497207, 0.29048962]],

       ...,

       [[0.64949285, 0.71187485, 0.77880214, ..., 0.94485151,
         0.86029586, 0.31157765],
        [0.78873209, 0.34114489, 0.07075061, ..., 0.71479043,
         0.86559574, 0.62874325],
        [0.24545526, 0.5534919 , 0.23724431, ..., 0.83925745,
         0.71448873, 0.15087558],
        ...,
        [0.04499699, 0.8142822 , 0.35974041, ..., 0.23492723,
         0.15537275, 0.71362553],
        [0.9710048 , 0.96000284, 0.18638366, ..., 0.40773425,
         0.29333017, 0.04032412],
        [0.77128984, 0.27089097, 0.44064345, ..., 0.61032216,
         0.30405355, 0.1521601 ]],

       [[0.50735472, 0.43248446, 0.3611299 , ..., 0.03403041,
         0.73291555, 0.11257528],
        [0.71426067, 0.22523007, 0.3132153 , ..., 0.54237517,
         0.59366938, 0.29281066],
        [0.88194524, 0.13044525, 0.28805954, ..., 0.44911709,
         0.04840071, 0.17039207],
        ...,
        [0.33309792, 0.68571201, 0.70878131, ..., 0.83514347,
         0.23697557, 0.85665482],
        [0.02888812, 0.68196102, 0.04639671, ..., 0.50896035,
         0.01814095, 0.09781082],
        [0.88511381, 0.13877824, 0.18744639, ..., 0.90092833,
         0.46539758, 0.83788364]],

       [[0.17435229, 0.85652068, 0.91294658, ..., 0.50654232,
         0.87947223, 0.99236979],
        [0.78220537, 0.73361475, 0.77667751, ..., 0.05033722,
         0.04607609, 0.9601341 ],
        [0.56274603, 0.21016686, 0.92200812, ..., 0.35438798,
         0.23217254, 0.42254445],
        ...,
        [0.30785591, 0.86565035, 0.46230757, ..., 0.27590803,
         0.28941931, 0.17532415],
        [0.46873227, 0.59403573, 0.17398384, ..., 0.05311005,
         0.92089957, 0.81040205],
        [0.83583402, 0.56428072, 0.5316637 , ..., 0.58803187,
         0.64386982, 0.32116047]]])

In [9]:
df = pd.DataFrame({'X':range(100,30, -5)})
df

      X
0   100
1    95
2    90
3    85
4    80
5    75
6    70
7    65
8    60
9    55
10   50
11   45
12   40
13   35

In [10]:
weights = np.array([0.25,0.5,0.25]) #1 2 1
df['MA'] = df['X'].rolling(3).apply(lambda x: np.sum(weights*x))
df

      X    MA
0   100   NaN
1    95   NaN
2    90  95.0
3    85  90.0
4    80  85.0
5    75  80.0
6    70  75.0
7    65  70.0
8    60  65.0
9    55  60.0
10   50  55.0
11   45  50.0
12   40  45.0
13   35  40.0

In [ ]:
#another example

In [11]:
def lwma(Data, period):
    weighted = []
    for i in range(len(Data)):
            try:
                total = np.arange(1, period + 1, 1) # weight matrix
                
                matrix = Data[i - period + 1: i + 1, 3:4]
                matrix = np.ndarray.flatten(matrix)
                matrix = total * matrix # multiplication
                wma = (matrix.sum()) / (total.sum()) # WMA
                weighted = np.append(weighted, wma) # add to array
            except ValueError:
                pass
    return weighted

In [17]:
print(lwma(dummy_data,1))

[52.84654672 51.34904382 51.26781721 ... 52.25971466 53.56332195
 49.73952324]